@page "/logout"
@using BlazorTemplate.Identity
@inject AuthenticationManager _authenticationManager

<AuthorizeView @ref="authView">
    <Authorized>
        <div class="alert alert-info">Logging you out...</div>
    </Authorized>
    <NotAuthorized><div class="alert alert-success">You are logged out. <a href="/">Log in.</a></div></NotAuthorized>
</AuthorizeView>

@code {
    private AuthorizeView? authView;

    protected override async Task OnInitializedAsync()
    {
        if (await _authenticationManager.CheckAuthenticatedAsync())
        {
            await _authenticationManager.LogoutAsync();
        }
        await base.OnInitializedAsync();
    }
}



